@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
--primary: #F2C94C;
--black: #333333;
--width-break: 600px;
}
body{
margin: 0;
font-family: 'Kalam', cursive;
color: #333333;
}
.navbar{
    background-color: var(--primary);
}
.navbar-header{
    font-size: 2rem;
    padding: 1rem; 
    text-align: center;  
}
main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}
textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}